*,
 ::before,
 ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}


/* Header */

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    width: 250px;
    margin-top: 30px;
}


/* Container */

#container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}


/* Search bar */

.search-bar {
    width: 85%;
    margin-top: 15px;
    padding: 15px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    background-color: #e7e7e7;
}

.search-bar:focus {
    outline: none;
}

.icon-search {
    width: 15%;
    max-height: 45px;
    float: right;
    text-align: right;
    margin-top: 15px;
    padding: 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    background-color: #e7e7e7;
    cursor: pointer;
}


/* Filters section */

#filters-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.select {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 15px;
    margin-right: 15px;
}

#filters-section input {
    width: 120px;
    height: 55px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#filters-section input:focus {
    outline: none;
}

#filters-section i {
    height: 55px;
    width: 45px;
    padding: 18px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
    cursor: pointer;
}

#select-ingredients,
.icon-ingredients,
#select-content-ingredients {
    background: #3282F7;
}

#icon-ingredients-up {
    display: none;
}

#select-appareils,
.icon-appareils {
    background: #68D9A4;
}

#icon-appareils-up {
    display: none;
}

#select-ustensils,
.icon-ustensils {
    background: #ED6454;
}

#icon-ustensils-up {
    display: none;
}

.select-content-elements {
    display: none;
    grid-template-columns: repeat(auto-fill, 130px);
    justify-content: space-between;
    row-gap: 5px;
    position: absolute;
    margin-top: 55px;
    padding-bottom: 5px;
}

.select-content-element {
    color: white;
    padding: 5px;
    text-decoration: none;
    font-size: 14px;
}


/* Section recettes */

#recettes-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    justify-content: space-between;
    row-gap: 20px;
}

.cellule-recette {
    width: 350px;
    height: 334px;
    display: flex;
    flex-direction: column;
    background: #E7E7E7;
    border-radius: 5px;
    overflow: hidden;
}

.cellule-recette img {
    height: 167px;
    width: 100%;
    background: #C7BEBE;
}

.cellule-recette-header {
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cellule-recette-header h2 {
    font-size: 18px;
    font-weight: normal;
}

.cellule-recette-header span {
    font-size: 18px;
    font-weight: bolder;
}

.cellule-recette-content {
    width: 100%;
    height: 167px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.cellule-recette-content ul {
    list-style-type: none;
    font-size: 12px;
    width: 45%;
    padding-left: 15px;
}

.cellule-recette-content p {
    width: 50%;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}